<div class="container">
  <h2>Translation App</h2>
  <div class="form-floating">
    <textarea id="textareaToTranslate" [(ngModel)]="textToTranslate" class="form-control" placeholder="Enter text to translate"></textarea>
  </div>
  <div class="container_select">
    <label class="form-label" for="fromLanguage">From language:</label>
    <div class="form-floating mb-3">
      <select class="form-select" name="fromLanguage" id="fromLanguage" [(ngModel)]="selectedFromLanguage">
        <option value="" disabled>Select to language</option>
        <option value="en">English</option>
        <option value="uk">Ukrainian</option>
      </select>
    </div>
    <label class="form-label" for="toLanguage">To language:</label>
    <div class="form-floating mb-3">
      <select class="form-select" name="toLanguage" id="toLanguage" [(ngModel)]="selectedToLanguage">
        <option value="" disabled>Select to language</option>
        <option value="en">English</option>
        <option value="uk">Ukrainian</option>
      </select>
    </div>
  </div>
  <div class="btn-group">
    <button class="btn btn-outline-primary" (click)="translate()" [disabled]="textToTranslate.trim().length === 0 || !selectedFromLanguage || !selectedToLanguage">Translate</button>
    <button class="btn btn-outline-secondary" (click)="clear()" [disabled]="textToTranslate.trim().length === 0">Clear</button>
  </div>
  <h3>Translated text:</h3>
  <div class="form-floating">
    <textarea id="textareaTranslated" class="form-control" [value]="translatedText" readonly rows="5"></textarea>
  </div>
</div>
